#board{
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(5, 1fr);
    background-color: rgb(0, 0, 0);
    gap: 8px;
    padding: 15px;
    width: 500px;
    height: 600px;
}

.container{
    color:aliceblue;
    font-size: 18px
}

.tutorial-container{
    display: flex; 
    justify-content: flex-end
}

#log{
    background-color: rgb(65, 65, 65);
    color: white;
}

.tile {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    user-select: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.normalTile{
    background-color: rgb(65, 65, 65);
}

.black{
    background-color: rgb(65, 65, 65);
}

.yellow{
    background-color: rgb(181, 159, 59);
}

.green{
    background-color: rgb(83, 141, 78);
}

input#hardMode {
    transform : scale(1.5);
}
